WEBPASSWORD={{ pihole_admin_pass_hash }}
DHCP_ACTIVE=true
DHCP_START={{ pihole_dhcp_start_ip }}
DHCP_END={{ pihole_dhcp_end_ip }}
DHCP_ROUTER={{ conn_static_ip }}
DHCP_LEASETIME=24
PIHOLE_DOMAIN={{ pihole_domain }}
DHCP_IPv6={{ pihole_dhcp_ipv6 }}
PIHOLE_INTERFACE={{ conn_int }}
IPV4_ADDRESS={{ conn_static_ip }}{{ conn_local_mask }}
IPV6_ADDRESS={{ conn_static_ipv6 }}{{ conn_local_maskv6 }}
QUERY_LOGGING={{ pihole_query_logging }}
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
DNSMASQ_LISTENING=single
PIHOLE_DNS_1={{ conn_secure_dns }}#{{ conn_secure_dns_port }}
PIHOLE_DNS_2={{ conn_secure_dns_ipv6}}#{{ conn_secure_dns_port }}
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSSEC=true
CONDITIONAL_FORWARDING=false
